h1   {
    text-align: center;
}

.crc {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
}

.crc img {
    max-width: 100%;
    border-radius: 5px;
}

.crc h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.crc:hover {
    transform: scale(1.05);
    border-color: #007bff;
}
